
scsb/target/
*.class
*.jar
*.war
*.iml
*.log
*.db
*.DS_Store

.idea/
*.iws
*.ipr
*.iml
.vscode/

scsf/node_modules/
scsf/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


Thumbs.db
.DS_Store

scsb/src/main/resources/application.properties
scsb/src/main/resources/application-local.properties
